<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/index.css">
    <link rel="stylesheet" href="../../bootstrap-5.3.0-dist/css/bootstrap.css">
    <title>Lista de tareas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" >Lista de tareas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./index.html">Tareas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Nueva-tarea.html">Nueva Tarea</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
        </div>
    </nav>

    <div>
        <h1>Tarea Nueva</h1>
        <form>
            <section id="Agregar-tarea">
                <div id="Formulario">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Tarea</span>
                        <input type="text" id="Tarea" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    </div>
                    <br>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Materia</label>
                        <br><br>
                        <select class="form-select" id="inputGroupSelect01" name="Materia-e">
                            <option selected value="Materia">Materia</option>
                            <option value="Nueva">Nueva</option>
                        </select>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Materia</span>
                        <input type="text" id="Materia-n" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    </div>
                    <br>
                    <div id="enviar">
                        <button class="btn btn-outline-secondary" type="button" id="Agregar">Agregar</button>
                        <button class="btn btn-outline-secondary" type="reset" id="Limpiar">Limpiar</button>
                    </div>
                </div>
            </section>
        </form>
        <h1 id="Tareas">Tareas</h1>
        <ul class="list-group" id="Area_tareas">
        </ul>
    </div>
    
      <script src="../dynamics/js/Nueva-tarea.js"></script>
    <script src="../../bootstrap-5.3.0-dist/js/bootstrap.bundle.js"></script>
</body>
</html>